/* ------------------------------------------------------------- */
/* -------------------------- general -------------------------- */
/* ------------------------------------------------------------- */

.hidden {
	display: none !important;
}

:root {
	--background: #5924a3;
	--blue: #3a86ff;
	--red: #ff3333;
}

body,
html {
	background: var(--background);
	cursor: context-menu;
	/* box-sizing: border-box; */
	/* overflow: hidden; */
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

/* --------------------------------------------------------------- */
/* -------------------------- side menu -------------------------- */
/* --------------------------------------------------------------- */

/* -------------------------- hamburger icon */
/* -------------------------- */
.openMenu {
	position: fixed;
	top: 20px;
	left: 20px;
	width: 45px;
	height: 45px;

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;
	border: 3px solid white;
	border-radius: 20px;
	background-color: var(--background);
}

.openMenu .bars {
	width: 70%;
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.openMenu .bars div {
	background: white;
	width: 100%;
	height: 13%;
}

/* -------------------------- */
/* -------------------------- -------------------------- */

/* -------------------------- side bar */
/* -------------------------- */

/* container */
#sideMenu {
	position: fixed;
	box-sizing: border-box;
	top: 0;
	bottom: 0;
	left: -280px;
	width: 280px;

	z-index: 1;

	padding: 110px 20px 20px;

	background-color: var(--blue);
	color: white;

	transition: 0.5s;
}

@media (max-width: 500px) {
	#sideMenu {
		left: -230px;
		width: 230px;

		background-color: transparent;
		backdrop-filter: blur(100px);
	}
}

/* close button ==> X */
#sideMenu .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 35px;
	cursor: pointer;
	margin-top: 10px;
}

/* resala logo */
#sideMenu a img {
	position: absolute;
	top: 5px;
	right: 70px;
	width: 150px;
}

@media (max-width: 500px) {
	#sideMenu a img {
		right: 50px;
	}
}


#sideMenu p {
	font-size: 40px;
	font-weight: bold;
}

/* content container */
#wheelsList {
	word-break: break-word;

	list-style-type: none;
	padding-left: 0;
}

.wheelEntryContainer {
	padding: 12px 0;
	border-bottom: 1px solid white;
}

.wheelEntry {
	cursor: pointer;
}

.wheelEntry:hover {
	border-left: 4px solid;
	border-radius: 15px;
	padding: 5px 15px;

	transition: 0.3s;
}

/* -------------------------- */
/* -------------------------- -------------------------- */


/* ------------------------------------------------------- */
/* ------------------- main wheel tabe ------------------- */
/* ------------------------------------------------------- */

#wheelPage {
	width: 100%;
	padding-top: 30px;
	padding-bottom: 20px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	color: white;
}

#wheelNameDisplay {
	font-size: 35px;
	font-weight: bold;
	margin-top: 50px;
	margin: 50px 0 15px;
	color: #bbb;
}

#landingEntry {
	font-size: 50px;
	font-weight: bold;
	animation: happy 3s linear infinite;
}

@keyframes happy {
	0% {
		color: red;
	}

	25% {
		color: blue;
	}

	75% {
		color: white;
	}

	100% {
		color: red;
	}
}

#wheelContainer {
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.entryText {
	font-size: 20px;
	color: #333;
}

#edit {
	background: none;
	color: white;

	border: 2px solid white;
	border-radius: 7px;

	margin-top: 20px;
	padding: 3px 10px;
	cursor: pointer;
	font-size: 20px;
}

/* ------------------------------------------------------- */
/* ------------------ create wheel tabe ------------------ */
/* ------------------------------------------------------- */

#createPage {
	display: flex;
	flex-direction: column;
	align-items: center;

	color: white;

	padding-bottom: 40px;
}

.title {
	font-size: 45px;
	font-weight: bold;
	margin-top: 70px;
	margin-bottom: 40px;
}

#createPage .settings {
	width: calc(100% - 40px);
	max-width: 500px;
}

#wheelName {
	padding: 10px;
}

#createPage hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid white;
}

.entryItem {
	width: 100%;
	height: 50px;
	margin-bottom: 30px;

	display: flex;
	flex-direction: row;
}

.entryItem .entryText {
	height: 100%;
	padding: 10px;

	flex-grow: 1;
	margin-right: 20px;
	box-sizing: border-box;

	border-radius: 10px;
	border: none;
	outline: none;

	font-size: 15px;
}

.entryItem .entryText:focus {
	border: 2px solid black;
}

.entryItem .remove,
#addEntry {
	padding: 0;
	width: 50px;
	height: 50px;
	position: relative;
	flex-shrink: 0;

	border-radius: 50%;
	border: none;
	background: red;
	color: white;

	font-size: 20px;

	text-align: center;
	vertical-align: middle;

	cursor: pointer;
}

#addEntry {
	font-size: 30px;
	background: var(--blue);
	position: relative;
}

#addEntry:hover:after,
.entryItem .remove:hover:after {
	content: "";
	background: rgba(0, 0, 0, 0.3);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 50%;
	position: absolute;
}

#createWheelButton,
#spin {
	background: none;
	color: white;
	
	border: 5px solid white;
	border-radius: 15px;

	font-size: 42px;
	font-weight: bold;
	letter-spacing: 5px;

	text-align: center;
	cursor: pointer;
}

#createWheelButton:hover,
#spin:hover,
#edit:hover {
	background: white;
	color: var(--background);
}


/*------------------ error bar in create wheel tabe */

.errorPopupContainer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 20px;
	height: 50px;

	display: flex;
	justify-content: center;

	animation: errorPopupAnim 0.5s;
}

@keyframes errorPopupAnim {
	from {
		bottom: -50px;
	}

	to {
		bottom: 20px;
	}
}

.errorPopup {
	max-width: 100%;
	width: 500px;
	height: 100%;

	border-radius: 5px;
	background: var(--red);

	color: white;

	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 20px;
	box-sizing: border-box;
}

.errorPopup .close {
	color: white;
	cursor: pointer;
	font-size: 25px;
}

.errorPopup .close:hover {
	text-decoration: underline;
}

/* ---------------------------------------------- */
/* ------------------- footer ------------------- */
/* ---------------------------------------------- */

.copyRight {
	text-align: center;
	padding: 10px;
	background-color: #0000009e;
	color: white;
	font-size: 15px;
	border-radius: 40px;
	margin: 15px;
}

.copyRight a {
	text-decoration: none;
	color: white;
	font-size: 18px;
	letter-spacing: 2px;
}

.copyRight a:hover {
	color: #3a86ff;
}